@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body {
    background-color: #ffe0e3;
}
.bulle {
    width: 80px;
	height: 80px;
	display: inline-block;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}

.bulle::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}

.bubulle {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}
.bubulle:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}


.mechantBlop {
    width: 80px;
	height: 80px;
	display: inline-block;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}
.mechantBlop::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}


#compteur {
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    margin-bottom: 100px;
    padding: 0 15px 0 15px;
}

.textBubble {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    margin-top: 43px;

}
.containerCompteur {
    display: flex
}
